@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    font-family: 'Abel', cursive;
}

body {
    background-color: #d3d3d34a;
}

.container {
    max-width: 1200px;
    padding: 10px;
    flex: 1;
}

.app {
    background-color: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app__posts {
    padding: 20px;
}

.app__header {
    background-image: linear-gradient(to bottom right, #ff0000, #8500ff);
    width: 100%;
    padding: 10px;
    position: sticky !important;
}

.app__menulink {
    color: #fff !important;
}

.app__headerImage {
    height: 80px;
    width: auto;
    object-fit: contain;
    position: relative;
    margin-right: 20px;
}

.app__signup {
    display: flex;
    flex-direction: column;
}

.app__headerlogo {
    font-family: 'Parisienne', cursive;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}

.app__loginContainer {
    display: flex;
    flex-direction: column;
}

.app__headericon {
    font-size: 2.5rem !important;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .app__headerlogo {
        font-size: 30px;
    }
    .app__headerImage {
    height: 60px;
    margin-right: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .app__headerlogo {
    font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width: 1200px;
    }
}