core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
firebase.js
/workspace/Kieran-Bernice-Wedding/kieran-bernice-wedding/src/firebase.js
kieran-bernice-wedding/src/firebase.js