.imageupload {
    width: 100%;
    background-color: rgba(119, 119, 119, 0.3);
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
    border-radius: 8px;
    margin: 20px 0;
}

.imageupload__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    align-items: center;
    padding: 10px 0;
}

.imageupload__post {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.imageupload__post input {
    width: 100%;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.imageupload__post input:focus {
    outline: none;
}

progress[value] {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
   appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image: 
        linear-gradient(to bottom right, #ff0000, #8500ff);  
}

.imageupload__button {
    background-image: linear-gradient(to bottom right, #ff0000, #8500ff);
    color: #fff !important;
    width: 100%;
}

.imageupload__button:hover {
    background-image: linear-gradient(to bottom right, #8500ff, #ff0000);
} 
/* @media (max-width: 663.95px) {
    .MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
        width: 100% !important;
    }
} */

.MuiDialog-paperWidthSm.MuiDialog-paperScrollBody {
    width: 95% !important;
    border-radius: 20px;
}

.MuiDialog-paperWidthSm {
    max-width: 600px !important;
}

.MuiDialog-paper {
    margin: 0 !important;
}

.dialog__container {
    padding: 15px;
    background-color: #fff;
}

.dialogHeader__container {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.dialog__header {
    margin-bottom: 15px;
}

.dialog__closeIcon {
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0.5);
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    right: 10px;
}

.dialogUser__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

.dialog__hr {
    background-color: #00000075;
}

.dialog__user {
    margin-left: 10px;
}

.dialog__input {
    display: none;
}

.dialog__inputContainer textarea {
    width: 100%;
    font-size: 20px;
    background-color: rgba(119, 119, 119, 0);
    border: none;
    border-radius: 10px;
    resize: none;
}

.dialog__inputContainer textarea:focus {
    outline: none;
}

.dialog__imagePreview {
    width: auto;
    height: 200px;
    border-radius: 8px;
}

.dialog__imageUpload {
    margin-top: 15px;
}

.dialog__addPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #000 !important;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 15px !important;
    width: 100%;
}

.dialog__addPhoto:hover {
    color: #fff;
    background-image: 
        linear-gradient(to bottom right, #ff0000, #8500ff);
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

.dialog__imageUpload h4 {
    margin-right: 10px;
}

@media (min-width: 600px) {
    .imageupload__container {
        width: 50%;
    }
}