.posts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
}

.posts__toolbar {
    display: flex;
    justify-content: space-between;
}

.posts__searchContainer {
    position: relative;
    display: flex;
    /* width: 33%; */
    margin-right: 5px;
}

.posts__searchContainerInner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
    z-index: -1;
}

.posts__search {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: rgba(119, 119, 119, 0.3);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts__searchBack {
    display: none;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: rgba(119, 119, 119, 0.3);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.searchBox {
    display: none;
    flex-grow: 1;
    width: 100%;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: rgba(119, 119, 119, 0.3);
}

.searchBox:focus {
    outline: none;
}

.posts__searchBackIcon {
    transform: translateY(40%);
}

.posts__searchIcon {
    transform: translateY(40%);
}

.posts__searchResults {
    position: absolute;
    top: 45px;
    width: 100%;
    height: fit-content;
    max-height: 450px;
    min-height: 200px;
    background-color: rgb(205, 205, 205);
    display: none;
    border-radius: 20px;
    overflow-y: scroll;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts__searchResults::-webkit-scrollbar {
  display:none;
}

.posts__searchResults ul {
    margin: 10px;
    padding: 0;
}

.posts__searchResults ul li {
    list-style-type: none;
}

.posts__searchResults ul li a {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}

.posts__searchResults ul li a h4 {
    margin-left: 5px;
}

.post {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 0 0 20px;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts h1 {
    text-align: center;
}

.post__headerLink {
    text-transform: none !important;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}


.post__commentbox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    background-image: linear-gradient(to bottom right, #ff0000, #8500ff);
    color: #fff !important;
    padding: 0 20px;
    word-wrap: unset;
    border: none;
}

.post__input:focus {
    outline: none;
}

.post__comments {
    padding: 20px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid lightgrey;
}

.post__comments p:first-of-type {
    margin-top: 10px;
}

.post__comments:empty {
    display: none;
}

.post__comments::before {
    content: 'Comments';
    font-weight: bold;
    padding-bottom: 5px;
}

@media (max-width: 500px) {
    .posts__searchContainer {
        /* width: 100% !important; */
    }
}