.posts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
}

.posts__toolbar {
    display: flex;
    justify-content: space-between;
}

.posts__searchContainer {
    position: relative;
    display: flex;
    /* width: 33%; */
    /* margin-right: 5px; */
}

.posts__searchContainerInner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
    z-index: -1;
}

.posts__search {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: rgba(119, 119, 119, 0.3);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts__searchBack {
    display: none;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: rgba(119, 119, 119, 0.3);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.searchBox {
    display: none;
    flex-grow: 1;
    width: 100%;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: rgba(119, 119, 119, 0.3);
}

.searchBox:focus {
    outline: none;
}

.posts__searchBackIcon {
    transform: translateY(40%);
}

.posts__searchIcon {
    transform: translateY(40%);
}

.posts__searchResults {
    position: absolute;
    top: 45px;
    width: 100%;
    height: fit-content;
    max-height: 450px;
    min-height: 200px;
    background-color: rgb(205, 205, 205);
    display: none;
    border-radius: 20px;
    overflow-y: scroll;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts__searchResults::-webkit-scrollbar {
  display:none;
}

.posts__searchResults ul {
    margin: 10px;
    padding: 0;
}

.posts__searchResults ul li {
    list-style-type: none;
}

.posts__searchResults ul li a {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}

.posts__searchResults ul li a h4 {
    margin-left: 5px;
}

.post {
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 0 20px;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.44);
}

.posts h1 {
    text-align: center;
}

.post__headerLink {
    text-transform: none !important;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 0 20px 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}


.post__commentbox {
    display: flex;
    margin-top: 8px;
    border-bottom-left-radius: 8px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-bottom-left-radius: 8px;
}

.post__button {
    background-image: linear-gradient(to bottom right, #ff0000, #8500ff);
    color: #fff !important;
    padding: 0 30px;
    word-wrap: unset;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 8px;
}

.post__input:focus {
    outline: none;
}

.post__comments {
    padding: 5px 20px 20px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

.post__comment {
    display: flex;
    padding: 5px 0;
}

.post__comments p:first-of-type {
    margin-top: 10px;
}

.post__comments:empty {
    display: none;
}

.post__comments::before {
    content: 'Comments';
    font-weight: bold;
    padding-bottom: 10px;
}

.post__options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 15px 0; */
}

.post__optionLike {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 15px 15px 10px;
}

.post__likeText {
    margin-right: 5px;
}

.post__likeTotal {
    margin-left: 5px;
}

.post__optionComment {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 15px 10px;
}
.rotate {
    transform: rotate(180deg);
}

.hidden {
    display: none;
    height: 0;
}

.post__hr {
    border-top: 1px solid lightgray;
    border-bottom: none;
}

.post__likeIcon {
    background-image: url(https://icon-library.com/images/heart-icon-svg/heart-icon-svg-15.jpg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.post__likeIcon.liked {
    background-image: url(https://icon-library.com/images/heart-icon-svg/heart-icon-svg-14.jpg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    animation: scaleLike 0.5s;
}

.login__redirect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

@keyframes scaleLike {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}